body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.bg h1 {
    margin: 0;
    font-size: 3em;
}

.bg p {
    margin: 20px 0;
    font-size: 1.5em;
}
