body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

.bg h1 {
    margin: 0;
    font-size: 3em;
}

.bg p {
    margin: 20px 0;
    font-size: 1.5em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366; /* Adjust the color to match the exact color of the header */
    color: white;
    padding: 10px 400px;
}

.combined-logo{
    display: inline;
}

.logo {
    height: 50px; /* Adjust based on actual logo size */
    width: auto;
}

.title {
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-size: 16px;
}

.navigation a:hover {
    text-decoration: underline;
}


.content {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    background-image: linear-gradient(180deg, #155DE9 0%, #1E303D 100%);;
    padding: 0 400px;
    align-content: center;
    padding-top: 40px;
}

.content .header {
    text-align: center;
    margin-bottom: 20px;
}

.content .header h1 {
    margin-block-start: 0;
    color: white;
    font-size: 2em;
    text-shadow: #ffffff 0px 0px 6px;
}

.content .header h2 {
    color: white;
    font-weight: normal;
    text-shadow: #ffffff 0px 0px 2px;
}

.content .header p,
.content .laws p {
    font-size: 0.9em;
    line-height: 1;
}

.content .question p {
    background-color: #e6e6ff;
    padding: 10px;
    border-left: 3px solid #000066;
    border-radius: 20px;
}

.content .laws .law h3 {
    font-size: 1em;
    color: #000066;
}

.content .laws .law p {
    font-size: 0.9em;
    margin-left: 20px;
}

.content .footer {
    text-align: center;
    margin-top: 30px;
}

.content .footer p {
    font-size: 0.8em;
}

.spektator-logo,
.aba-logo {
    height: 40px; /* Adjust the size as needed */
    width: auto;
    margin: 5px;
}

.centred{
    max-width: 500px;
    margin: 0 300px;
}

.content .laws{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 20px;
}

.content .header p{
    font-size: 1.5em;
    color: white;
}

.empty-block{
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgb(30, 48, 61) 0%, rgb(65, 65, 65) 100%);
}



